﻿<h1>Cars</h1>

<p *ngIf="!cars"><em>Loading...</em></p>
<button>Add Car</button>
<table class='table' *ngIf="cars">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Wheels</th>
            <th>Doors</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.wheels }}</td>
            <td>{{ car.doors }}</td>
            <td><button (click)="onSelect(car)">Edit</button></td>
        </tr>
    </tbody>
</table>
<car-detail [car]="selectedCar"></car-detail>