<h1>Mini Carsales Task</h1>

<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<div class="jumbotron">
    <h4>To get going run</h4>
    <ul>
        <li><strong>dotnet new --install Microsoft.AspNetCore.SpaTemplates::*</strong></li>
        <li><strong>mkdir minicarsalesAngular; cd minicarsalesAngular</strong></li>
        <li><strong>dotnet new angular</strong></li>
        <li><strong>dotnet add package Microsoft.EntityFrameworkCore.InMemory</strong></li>
    </ul>
</div>
<div class="jumbotron">
    <h4>Backend Code required</h4>
    <ul>
        <li>Create Vehicle model</li>
        <li>Create Car Model</li>
        <li>Create Bike Model</li>
        <li>Add Entity framework In Memory database</li>
        <li>Create db context</li>
        <li>Create Data controller to supply json feed</li>
        <li>Implement CRUD methods</li>
    </ul>
</div>
<div class="jumbotron">
    <h4>Frontend Code required</h4>
    <ul>
        <li>Make Navigation menu</li>
        <li>Add Car and Bike routes</li>
        <li>Create Car and Bike List Components</li>
        <li>Implement detail views for add/edit</li>
    </ul>
</div>